.content {
    flex: 1;
    margin-left: 250px; 
    transition: margin-left 0.3s ease;
    padding: 20px;
}

.collapsed {
    margin-left: 80px; 
}


/* Blog.module.css */
.blogContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .addButton {
    background-color:#322c8d;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: Poppins;
  }
  
  .blogList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .blogCard {
    width: 300px;
    border: 1px solid #ddd;
    padding: 15px;
  }
  
  .blogImage {
    width: 100%;
    height: auto;
  }
  .details{
    text-align: left;
  }
  .editButton {
    background-color: #253488;
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: Poppins;
    margin-top: 20px;
  }
  
  /* BlogModal.module.css */
  .modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
  }
  
  button {
    padding: 10px;
    background: #3F3D56;
    color: white;
    border: none;
    cursor: pointer;
  }
  