.content {
    flex: 1;
    margin-left: 250px; 
    transition: margin-left 0.3s ease;
    padding: 20px;
}

.collapsed {
    margin-left: 80px; 
}


/* Blog.module.css */
.blogContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .addButton {
    background-color: #ff4081;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .blogList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .blogCard {
    width: 300px;
    border: 1px solid #ddd;
    padding: 15px;
  }
  
  .blogImage {
    width: 100%;
    height: auto;
  }
  
  .editButton {
    background-color: #3f51b5;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* BlogModal.module.css */
  .modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    cursor: pointer;
  }
  