*{
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h2, h3, h4, h5, h6 ,a, p, span ,div{
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}
.active{
  color: var(--rn-53-themes-net-blue-ribbon, #0A56E5) !important;
  border-radius: 30px !important;
  background: var(--rn-53-themes-net-zircon, #e0ebff) !important;
}

.dropdown-toggle::after {
  display: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1270px) {
  body {
    zoom: 80%;
  }
}

@media (max-width: 1070px) {
  body {
    zoom: 70%;
  }
}

@media (max-width: 870px) {
  body {
    zoom: 60%;
  }
}

@media (max-width: 670px) {
  body {
    zoom: 50%;
  }
}

@media (max-width: 470px) {
  body {
    zoom: 40%;
  }
}
